# Dependencies
node_modules

# Build
dist
dist-ssr

# Rust
src-tauri/target

# Environment
*.local
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
*.sw?

# Plano interno
PLANO.md

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
